<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Capture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Capture.Properties.Settings>
            <setting name="ModifierKeys" serializeAs="Xml">
                <value>
                    <ModifierKeys>Alt</ModifierKeys>
                </value>
            </setting>
            <setting name="Key" serializeAs="Xml">
                <value>
                    <Key>Snapshot</Key>
                </value>
            </setting>
            <setting name="IncludeFrame" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DirectoryName" serializeAs="String">
                <value>%USERPROFILE%\Pictures\Capture\{WindowTitle}</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>{md5}</value>
            </setting>
        </Capture.Properties.Settings>
    </userSettings>
</configuration>